<mat-toolbar color="primary" class="navbar">
<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div>
    <mat-icon>search</mat-icon>
  </div>
  <div class="nav">

    <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
    <a>
      <mat-icon matBadge="1" matBadgeColor="warn">message</mat-icon>
    </a>
    <a>
      <mat-icon matBadge="6" matBadgeColor="warn">email</mat-icon>
    </a>
    <img mat-card-avatar src="assets/images 1.jpg" alt="">
    <a>
      <mat-icon>settings </mat-icon>
    </a>
  </div>

</mat-toolbar>